{% extends 'base.html' %}

{% block title %}Оставить заявку{% endblock %}

{% block content %}
{% include 'messages.html' %}
<div class="container my-5">
    <h1>Оставить заявку</h1>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="insurance" class="form-label">Выберите страховой продукт</label>
            <select name="insurance" id="insurance" class="form-select" required>
                <option value="" disabled selected>Выберите страховой продукт</option>
                {% for insurance in insurances %}
                <option value="{{ insurance.id }}">{{ insurance.name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Сообщение</label>
            <textarea name="message" id="message" class="form-control" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock %}
