<!DOCTYPE html>
<html lang='ru'>
<head>
    <meta charset='utf-8'>
    <meta content='initial-scale=1.0,width=device-width' name='viewport'>
    <style type='text/css'>
        .spinner{border-radius:50%;width:60px;height:60px;margin:60px auto;font-size:10px;position:relative;text-indent:-9999em;border:6px solid #eaeaea;border-left:6px solid rgba(42,165,96,0.58);-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation:spinner 0.9s infinite linear;animation:spinner 0.9s infinite linear}.spinner:after{border-radius:50%;width:60px;height:60px}.spinner.small{width:40px;height:40px;margin:40px auto}.compact-spinner{margin:0 auto}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0deg)}100%{-webkit-transform:rotate(360deg)}}@keyframes spinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}html,body{margin:0;padding:0}img{background-image:url(https://cdn.lookastic.com/images/spinner.svg) center no-repeat;text-indent:-9999px;color:transparent}#header{background:#2AA560;height:50px}#header>*{opacity:0;margin:0}#navigation{display:none}#body{opacity:0}

    </style>
    <link href='//cdn.lookastic.ru' rel='dns-prefetch'>
    <link crossorigin='true' href='//cdn.lookastic.ru' rel='preconnect'>
    <link crossorigin='true' href='https://cdnjs.cloudflare.com' rel='preconnect'>
    <link rel="stylesheet" media="screen"
          href="https://cdn.lookastic.com/assets/desktop/layouts/application-6dde7bd2a819f8d3c26838f120b4fd4c50b00f740aae78e628660940594ab7f0.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" data-turbolinks-track="reload"
            defer="defer"></script>
    <script src="https://cdn.lookastic.com/assets/desktop/application-4d97959ba4f13ce8adeb79ada9019982bc0dc5aa452ac70cefbfa8a7ac1c66a3.js"
            data-turbolinks-track="reload" defer="defer"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" defer="defer"></script>
    <![endif]-->
    <link href='https://lookastic.ru/users/sign_in' rel='canonical'>
    <meta content='22d977a904ecd181d60a111d88320bc1' name='p:domain_verify'>
    <meta content='tR4EPPqVCWeP-NpunP7xAdFjAk18Kr0vR4kYwRd3_8Y' name='google-site-verification'>
    <meta content='938bc2b351' name='verify-admitad'>
    <link href='//cdn.lookastic.ru/apple-touch-icon-180x180.png' rel='apple-touch-icon' sizes='180x180'>
    <link href='//cdn.lookastic.ru/favicon-32x32.png' rel='icon' sizes='32x32' type='image/png'>
    <link href='//cdn.lookastic.ru/android-chrome-192x192.png' rel='icon' sizes='192x192' type='image/png'>
    <link href='//cdn.lookastic.ru/favicon-96x96.png' rel='icon' sizes='96x96' type='image/png'>
    <link href='//cdn.lookastic.ru/favicon-16x16.png' rel='icon' sizes='16x16' type='image/png'>
    <link href='//cdn.lookastic.ru/manifest.json' rel='manifest'>
    <meta content='no-cache' name='turbolinks-cache-control'>

    <title>OutfitMate</title>
</head>
<body data-user-signed-in='false'>
<section id='header-wrapper'>
    <header class='' id='header'>
        <a class="lookastic" href="/">OutfitMate</a>
        <section class='account' data-role='account'>
            <section class='actions'>
                <a class="sign-in" rel="nofollow" href="sign_in.html">Вход</a>
                <a class="join" rel="nofollow" href="wardrobe_welcome.html">Регистрация</a>
            </section>
        </section>
    </header>
</section>
<section data-role='navigation' id='navigation-wrapper'>
    <nav id='navigation'>
        <a href="/users/sign_up?medium=header_wardrobe">Мой гардероб
        </a>
        <a href="/site/contact-us">Написать нам</a>
    </nav>
</section>
<div class='spinner' id='critical-spinner'></div>
<main data-service='[&quot;UserItemToggler&quot;, &quot;VoteToggler&quot;]' id='body'>
    <form class="new_user" id="new_user" action="/users/sign_in" accept-charset="UTF-8" method="post"><input
            type="hidden" name="authenticity_token"
            value="LgnXIiaO8YWkT4Z3+cHsFZ/K1C8ULqg1LU7xglrZfv6PB401t2kHpj8dLoIOxkpjzSJVKabWDQwfAVBYkteDuA=="/>
        <header>
            <h1>Вход</h1>
        </header>
        <section class='input'>
            <label for="user_email">Email</label>
            <section class='body'>
                <input autofocus="autofocus" required="required" type="email" value="" name="user[email]"
                       id="user_email"/>
            </section>
        </section>
        <section class='input'>
            <label for="user_password">Пароль</label>
            <section class='body'>
                <input required="required" type="password" name="user[password]" id="user_password"/>
                <p class='help'>
                    <a href="password.html">Не помнишь пароль?</a>
                </p>
            </section>
        </section>
        <footer>
            <input type="submit" name="commit" value="Войти" data-disable-with="Войти"/>
        </footer>
        <section class='omniauth'>
            </a></section>

    </form>
</main>
<section id='footer'>
    <p class='copyright'>
        © 2023 Lookastic. All rights reserved.
    </p>
    <nav>
        <a href="/site/contact-us">Связаться с нами</a>
        <a href="/site/terms-of-service">Условия предоставления услуг</a>
        <a href="/site/privacy-policy"> Политика конфиденциальности</a>
        <a href="/site/copyright">Copyright</a>
        <a href="/site/affiliate-disclosure">Affiliate Disclosure</a>
    </nav>
    <p class='guide'>
        <a href="/products-archive">Архив товаров</a>
    </p>
</section>

<script defer src='https://www.googletagmanager.com/gtag/js?id=UA-6317758-12'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-6317758-12');
</script>
<script>
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55812235, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true
    });
</script>

<script>
    window.addEventListener('DOMContentLoaded', function(){
      new YandexRtb;

    });
</script>

</body>
</html>
