<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta content='initial-scale=1.0,width=device-width' name='viewport'>
    <link rel="icon apple-touch-icon" type="image/x-icon"
          href="https://cdn.lookastic.com/assets/favicon-e46b27095edd005fd3c0dad3e5d6f885ba84785828667018ac4927f7f42f02b4.png"/>
    <meta name="csrf-param" content="authenticity_token"/>
    <meta name="csrf-token"
          content="nfywkljqXVXi0dDbh5GtSUIM0I3/6bUlc4a4YMQeKdgXk9EZqr5D9dpYcc7VpgXk5cNZRN2LlJYKb1C2qWSYbw=="/>
    <title>OutfitMate: персональные образы для твоего гардероба</title>
    <meta name="description" content="Добавь вещи в гардероб и смотри, какие образы можно составить">
    <link rel="stylesheet" media="screen"
          href="https://cdn.lookastic.com/assets/desktop/layouts/landing-98e1d36bc82eee9ec91e4d16bdc9d7fbafe23bf3785375dc7e96180ceb669851.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" data-turbolinks-track="reload"
            defer="defer"></script>
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" defer="defer"></script>
    <![endif]-->
</head>
<body>



<section id='header-wrapper'>
    <header id='header'>
        <a href="welcome.html">OutfitMate</a>
    </header>
</section>
<main id='body'>
    <article id='welcome'>
        <header>
            <h1>Персональные образы для твоего гардероба</h1>
            <p>Добавь вещи в гардероб и смотри, какие образы можно составить</p>
            <section class='buttons'>
                <a href="sign_up.html">Начать</a>
            </section>
        </header>
        <section class='how-it-works'>
            <header class='inner'>
                <h2>Как это работает</h2>
            </header>
            <section class='body'>
                <div class='inner-body'>
                    <article class='edit-user-items'>
                        <h3>1. Добавь свои вещи в гардероб на OutfitMate</h3>
                        <img alt="1. Добавь свои вещи в гардероб на OutfitMate"
                             src="https://cdn.lookastic.com/images/how-it-works/ru/edit-user-items.png"/>
                    </article>
                    <article class='recommended-look'>
                        <h3>2. Получай рекомендации в виде образов, которые ты можешь повторить из своих
                            вещей</h3>
                        <img alt="2. Получай рекомендации в виде модных образов, которые ты можешь повторить из своих вещей"
                             src="https://cdn.lookastic.com/images/how-it-works/ru/recommended-look.png"/>
                    </article>
                    <article class='recommended-item'>
                        <h3>3. Узнай, каких вещей не хватает в твоем гардеробе (и почему)</h3>
                        <img alt="3. Узнай, каких вещей не хватает в твоем гардеробе (и почему)"
                             src="https://cdn.lookastic.com/images/how-it-works/ru/recommended-item.png"/>
                    </article>
                </div>
            </section>
        </section>


        </footer>
    </article>

</main>
<script defer src='https://www.googletagmanager.com/gtag/js?id=UA-6317758-12'></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-6317758-12');
</script>
<script>
    (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
    m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,
    k.src=r,a.parentNode.insertBefore(k,a)})
    (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(55812235, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        trackHash:true
    });
</script>


</body>
</html>